body {
  font-family: Lato;
  /*overflow:hidden;*/
}
#body-overlay {
    position: absolute;
    z-index: 100;
    width: 100%;
}
#body-overlay, #body-overlay .grid {
  height: 100%;
  background: rgba(255,255,255,0.55)
}

#body-overlay .column{
  text-align: center;
}

#body-overlay .ui input {
  margin: 10px;
  width: 250px;
}

.options {
  margin: 10px 0 20px;
}

button.ui.primary.button {
  background: #21d060;
}
#right {
  height: 100%;
}
#right-panel {
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  float: left;
  width: 63%;
  padding: 0;
}

#right-panel {
  float: right;
  width: 34%;
  overflow: auto;
  height: 83%;
}

.panel {
  height: 100%;
  overflow: auto;
}

#spotify {
  float: right;
  margin-top: 2.2%;
  width: 37%;
  height: 15%;
}

