body {
  font-family: Lato;
  overflow:hidden;
}
h1.ui.header {
  font-weight: 300;
  color: #21d060;
  font-size:46px;
}
#body-overlay {
    position: absolute;
    z-index: 100;
    width: 100%;
}
#body-overlay, #body-overlay .maps-bg {
  height: 105%;
}

#body-overlay .grid {
  height: 100%;
}

#body-overlay .grid {
  background: rgba(255,255,255,0.8);
}

#body-overlay .maps-bg {
  background: url(bg.png) center;
}

#body-overlay .column{
  text-align: center;
}

#body-overlay .ui input {
  margin: 10px;
  width: 250px;
}

.options {
  margin: 10px 0 20px;
}

button.ui.primary.button {
  background: #21d060;
}
#right {
  height: 100%;
  width:27%;
  float:right;
  background:#282828;
}
#right-panel {
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  float: left;
  width: 73%;
  padding: 0;
}

#right-panel {
  overflow: auto;
}

.panel {
  height: 100%;
  overflow: auto;
}

#spotify {
  float: right;
  width: 27%;
  height: 15%;
}

#album-covers {
  padding: 0 24px;
  height: 100%;
  overflow: auto;
}

#album-covers .album-container {
  position:relative;
}

#album-covers .album-container img {
  width: 100%;
  border-radius: 4px
}

#album-covers .album-container h3 {
  opacity:0;
  position:absolute;
  padding-top:40px;
  color: white;
  background: rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  top:0;
  margin:0;
  text-align: center;
  font-weight: 300;
  transition: .3s all;
}

#album-covers .album-container:hover h3 {
  opacity:1;
}

