body {
  font-family: Lato;
  overflow:hidden;
}
h1.ui.header {
  font-weight: 300;
  color: #21d060;
  font-size:46px;
}
#body-overlay {
    position: absolute;
    z-index: 100;
    width: 100%;
}
#body-overlay, #body-overlay .maps-bg {
  height: 105%;
}

#body-overlay .grid {
  height: 100%;
}

#body-overlay .grid {
  background: rgba(255,255,255,0.8);
}

#body-overlay .maps-bg {
  background: url(bg.png) center;
}

#body-overlay .column{
  text-align: center;
}

#body-overlay .ui input {
  margin: 10px;
  width: 250px;
}

.options {
  margin: 10px 0 20px;
}

button.ui.primary.button {
  background: #21d060;
}
#right {
  height: 100%;
}
#right-panel {
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  float: left;
  width: 73%;
  padding: 0;
}

#right-panel {
  float: right;
  width: 27%;
  padding:50px;
  overflow: auto;
  height: 88%;
  padding-bottom:0;
}

.panel {
  height: 100%;
  overflow: auto;
}

#spotify {
  float: right;
  width: 27%;
  height: 15%;
}

